#admin-user{
	padding:50px;
}
.table-bordered, tr, th, td{
	border : 2px solid #6d6d6d!important;
}
thead{
	background-color : #DE4F32;
}
table tr i{
	padding : 0 10px;
}
.tbl-id{
	width: 5%;
}
.tbl-short{
	width: 15%;
}
.tbl-normal{
	width: 30%;
}
.tbl-long{
	min-width: 50%;
}
.tbl-action{
	width: 12%;
}
.btn-add{
	width: 30%;
}
.add_form input{
	width: 60%;
}