.home-banner{
	background-image: url("assets/images/index.jpg");
}
section{
	padding-top:100px;
}
section .home_container{
	bottom: 0!important;
}
/*Hoang.mn Customize*/
#about-banner{
	background-image: url("/assets/images/about.jpg");
	background-position: center;
}
/*#music-banner{
	background-image: url("/assets/images/single.jpg");
	background-position: center;
}*/
#artist-background{
	background-image: url("/assets/images/artist_2.jpg");
}
.single{
	padding-top: 20px!important;
}
.singer-list{
	padding-bottom: 20px;
	text-align: center;
	 
}
.singer-list img{
	 width: 50%;
	transition: transform .6s;
  
}
.singer-list img:hover , .singer-list .active{
    transform: scale(1.2);
 }
.active-media{
	transition: 0.2s;
    background-color: #DE4F32;
transform: scale(1.02);
}
.single_player_container {
	background-color: #F1F3F4;
	left : 0px;
	width: 100%;
	margin-bottom: 0px!important;
}
.single_player_container audio{
	width: 100%;
}
.logo_list{
	font-size: 30px;
	margin-top: 30px;
}
.logo_list div a{
	color: #999999;
}
.logo_list div a:hover{
	color: #DE4F32;
}